{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-sm-12 col-12 col col-one pt-5 pb-5 flex-container">
      <h1 class="title-edu">Education</h1>
      <div class="container dd">
        <div class="column-1-dd">
          <img class="dd" src="{% static 'dd.png' %}" alt="DD" />
        </div>
        <div class="column-2-dd">
          <h2 class="wr dd">SDI Diandidaktika</h2>
        </div>
      </div>
      <div class="container mts">
        <div class="column-1-mts">
          <img class="mts" src="{% static 'mts.png' %}" alt="MTS" />
        </div>
        <div class="column-2-mts">
          <h2 class="wr mts">MtsN4 Jakarta</h2>
        </div>
      </div>
      <div class="container man">
        <div class="column-1-man">
          <img class="man" src="{% static 'man.png' %}" alt="MAN" />
        </div>
        <div class="column-2-man">
          <h2 class="wr man">MAN7 Jakarta</h2>
        </div>
      </div>
      <div class="container ui">
        <div class="column-1-ui">
          <img class="ui" src="{% static 'ui.png' %}" alt="UI" />
        </div>
        <div class="column-2-ui">
          <h2 class="wr ui">Universitas Indonesia</h2>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-12 col col-two pt-5 pb-5 flex-container">
      <h1 class="title-others">Organizations</h1>
      <div class="column-bem">
        <img class="bem" src="{% static 'bem.png' %}" alt="BEM" />
        <h2>BEM Fasilkom UI Scientifict Department</h2>
      </div>
      <div class="column-compfest">
        <img
          class="clip-circle compfest"
          src="{% static 'compfest.jpg' %}"
          alt="compfest"
        />
        <h2>Compfest 12 Editorial Marketing</h2>
      </div>
    </div>
    <div
      class="col-md-4 col-sm-12 col-12 col col-three pt-5 pb-5 flex-container"
    >
      <h1 class="title-others">Projects</h1>
      <div class="column-gitlab">
        <img class="gitlab" src="{% static 'gitlab.png' %}" alt="gitlab" />
        <h2 class="wr gitlab">Check My Projects at Gitlab</h2>
      </div>
    </div>
  </div>
</div>

{% endblock %}
