{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-cont one pt-5 pb-5 flex-container">
      <div class="column-kedin">
        <img class="kedin" src="{% static 'linkedin.svg' %}" alt="linkedin" />
        <h2 class="wr kedin">LinkedIn</h2>
      </div>
    </div>
    <div class="col-md-4 col-cont two pt-5 pb-5 flex-container">
      <div class="column-line">
        <img class="line" src="{% static 'line.svg' %}" alt="line" />
        <h2 class="wr line">@Mhanifahreza</h2>
      </div>
    </div>
    <div class="col-md-4 col-cont three pt-5 pb-5 flex-container">
      <div class="column-email">
        <img class="email" src="{% static 'email.svg' %}" alt="email" />
        <h2 class="wr email">Mhanifahreza@gmail</h2>
      </div>
    </div>
  </div>
</div>
{% endblock %}
