{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-12 col top pt-5 pb-5 flex-container">
      <div
        class="col-md-12 col-sm-12 col-12 col col-gw pt-5 pb-5 flex-container"
      >
        <img src="{% static 'FR41.png' %}" alt="Gw" class="img-fluid gw" />
        <section id="section1">
          <h1 class="wr gw one">Hi, I'm Hanif</h1>
          <h1 class="wr gw two">Computer Science Student</h1>
          <h1 class="wr gw three">From Jakarta</h1>
        </section>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-12 col bottom pt-5 pb-5 flex-container">
      <img src="{% static 'hcss.svg' %}" alt="hcss" class="img-fluid hcss" />
      <img src="{% static 'js.svg' %}" alt="js" class="img-fluid js" />
      <img
        src="{% static 'python.svg' %}"
        alt="python"
        class="img-fluid python"
      />
      <img src="{% static 'java.svg' %}" alt="java" class="img-fluid java" />
    </div>
  </div>
</div>
{% endblock %}
