{% extends 'base.html' %} {% load static %} {% block content %}
<div class="story_one">
  <img
    src="{% static 'FR41.jpg' %}"
    alt="Gw"
    style="width: 200px; height: 300px; margin-top: -5%"
  />
  <h1>Halo, saya {{ name }}</h1>
  <article>Umur saya {{ age }} tahun</article>
  <article>NPM saya {{ npm }}</article>
  <article>Saya adalah bagian dari angkatan Maung 2019</article>
  <article>Hobi saya adalah Membaca</article>
  <article>Saya Kuliah di Universitas Indonesia</article>
  <article>Riwayat Pendidikan saya:</article>
  <ul>
    <li>SD: SDI Diandidaktika (2007-2013)</li>
    <li>SMP: MTsN 4 Jakarta (2013-2016)</li>
    <li>SMA: MAN 7 Jakarta (2016-2019)</li>
  </ul>
  <article>
    Deskripsi: Seorang mahasiswa ilmu komputer Universitas Indonesia
  </article>
  <article>Line: @mhanifahreza</article>
  {% endblock %}
</div>
